PW_EMAIL={{ .container_data.docker.powerwall.pw_email }}
PW_PASSWORD={{ .container_data.docker.powerwall.pw_pass }}
PW_HOST={{ .container_data.docker.powerwall.pw_host }}
PW_TIMEZONE={{ .container_data.docker.timezone }}
PW_DEBUG=no
PW_STYLE=grafana-dark
