module containers_gpg_socket 1.0;

require {
	class sock_file write;
	class unix_stream_socket connectto;
	type container_t;
	type unconfined_t;
	type user_tmp_t;
}

allow container_t unconfined_t:unix_stream_socket connectto;
allow container_t user_tmp_t:sock_file write;
