# Configuration Settings for pyPowerwall

# Powerwall Settings
PW_EMAIL={{ .container_data.docker.powerwall.pw_email }}
PW_PASSWORD={{ .container_data.docker.powerwall.pw_pass }}
PW_HOST={{ .container_data.docker.powerwall.pw_host }}
PW_TIMEZONE={{ .container_data.docker.timezone }}
TZ={{ .container_data.docker.timezone }}

# Powerwall WiFi Gateway Password for TEDAPI Access Mode
PW_GW_PWD=

# Custom Settings
PW_DEBUG=no             # yes/no - Debug logging
PW_STYLE=grafana-dark
PW_NEG_SOLAR=yes        # Set to no to zero out negative solar values

# Additional Settings Here
