build/aerc-ui/nvim-linux-x86_64.deb
build/aerc/container_aerc.cil
build/aerc/nvim-linux-x86_64.deb
build/aerc/rpm
build/ai_fortress/ai_fortress.cil
build/ai_fortress/rpm
build/neovim/nvim-linux-x86_64.deb
build/opencode/cache
build/opencode/roots.pem
build/snapclient/container_snapclient.cil
build/snapclient/rpm
compose/.env
compose/flexo/flexo.env
compose/harbor/harbor.yml
compose/harbor/reset_password.sql
compose/mumble/mumble.env
compose/powerwall/data/pypowerwall.env
compose/powerwall/data/telegraf.conf
compose/powerwall/data/weather411.conf
compose/rss/miniflux.env
compose/smb/config.yml
compose/syncthing/volumes.yml
compose/traefik/data/traefik.env
compose/traefik/data/traefik.yml
compose/vaultwarden/vault.env
container_data.json
run/crowdin/.env
systemd/snapclient/snapclient.container
systemd/syncthing/syncthing1.container
systemd/syncthing/syncthing2.container
