MUMBLE_CONFIG_SSL_CERT=/certificates/mumble.{{ .container_data.docker.domain }}.crt
MUMBLE_CONFIG_SSL_KEY=/certificates/mumble.{{ .container_data.docker.domain }}.key
SERVER_PASS="{{ .container_data.docker.mumble.serverpass }}"
SUPER_PASS="{{ .container_data.docker.mumble.superuser }}"
MUMBLE_CONFIG_USERS=100
MUMBLE_CONFIG_USERSPERCHANNEL=0
MUMBLE_CONFIG_WELCOMETEXT=Welcome
MUMBLE_CONFIG_ALLOWHTML=true
MUMBLE_CHOWN_DATA=false
PUID=1104
PGID=1104
