FLEXO_MIRROR_SELECTION_METHOD=auto
FLEXO_MIRRORS_AUTO_ALLOWED_COUNTRIES={{ .container_data.docker.cc }}
FLEXO_MIRRORS_AUTO_MAX_SCORE=100
FLEXO_MIRRORS_AUTO_TIMEOUT=1000
FLEXO_PORT=9898
FLEXO_CUSTOM_REPO=arm@http://mirror.archlinuxarm.org archzfs@https://archzfs.com
