#!/bin/sh

# Using Weechat docker container
# https://github.com/weechat/weechat-container

sudo docker run -ti --name weechat \
               -u 1000:1000 \
               --net=container:tor-router \
               -v /home/{{ .container_data.docker.user_1 }}/.config/weechat:/home/user/.config/weechat \
               -v /home/{{ .container_data.docker.user_1 }}/.local/share/weechat:/home/user/.local/share/weechat \
               -v /home/{{ .container_data.docker.user_1 }}/.cache/weechat:/home/user/.cache/weechat weechat/weechat weechat
