# https://github.com/DoTheEvo/Traefik-v2-examples
# https://doc.traefik.io/traefik/operations/dashboard/

log:
  level: INFO

# https://doc.traefik.io/traefik/operations/api
api:
  insecure: true
  dashboard: true

# https://doc.traefik.io/traefik/routing/entrypoints/
entryPoints:
  web:
   address: ":80"
   http:
     redirections:
      entrypoint:
        to: "websecure"
        scheme: "https"
  websecure:
    address: ":443"
  pypw_secure:
    address: ":8675"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  # file:
  # filename: /etc/traefik/traefik_tls.yml

# Setup with ACME using custom resolver
# https://smallstep.com/docs/tutorials/acme-protocol-acme-clients#traefik
# https://doc.traefik.io/traefik/user-guides/docker-compose/acme-tls/
# https://doc.traefik.io/traefik/https/acme/
certificatesResolvers:
  stepca:
    acme:
      caServer: "https://{{ .container_data.docker.traefik.ca }}/acme/acme/directory"
      email: "admin@home.arpa"
      storage: "/etc/acme/acme.json"
      httpChallenge:
        entryPoint: web
