# Configuration used with static keys generated with openssl
# https://doc.traefik.io/traefik/https/tls/

tls:
  certificates:
    - certFile: "/etc/traefik/certs/{{ .container_data.docker.domain }}.crt"
      keyFile: "/etc/traefik/certs/{{ .container_data.docker.domain }}.key"
      stores:
        - default
  stores:
    default:
      defaultCertificate:
        certFile: "/etc/traefik/certs/{{ .container_data.docker.domain }}.crt"
        keyFile: "/etc/traefik/certs/{{ .container_data.docker.domain }}.key"
