# Postgres Core Container Config
POSTGRES_USER={{ .container_data.docker.rss.postgres_user }}
POSTGRES_PASSWORD={{ .container_data.docker.rss.postgres_password }}
POSTGRES_DB=miniflux

# Miniflux Initial Admin Setup
DATABASE_URL=postgres://{{ .container_data.docker.rss.postgres_user }}:{{ .container_data.docker.rss.postgres_password }}@127.0.0.1/miniflux?sslmode=disable
ADMIN_USERNAME={{ .container_data.docker.rss.admin_username }}
ADMIN_PASSWORD={{ .container_data.docker.rss.admin_password }}
